@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 91.6667%;
    margin: 0 auto;
    /* padding: 0 20px; */
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 1280px;
    }
  }

  .font-oswald {
    font-family: 'Oswald', sans-serif;
  }

  .font-outfit {
    font-family: 'Outfit', sans-serif;
  }
  
  
  /* Enhanced no-scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Custom scrollbar style */
  #fileList::-webkit-scrollbar {
    width: 8px;
  }
  
  #fileList::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  #fileList::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 4px;
    border: 2px solid #f1f1f1;
  }
  #dropZone:hover,
#dropZone.drag-over {
    display: flex !important;
}

.spinner {
  border-top-color: #3498db;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
/* Infinite Progress Animation */
@keyframes indeterminate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.indeterminate-progress {
  width: 100%;
  background: linear-gradient(90deg, rgba(66,153,225,0) 0%, rgba(66,153,225,0.5) 50%, rgba(66,153,225,0) 100%);
  animation: indeterminate 1.5s infinite linear;
}

